<div class="row">

    <div class="col-3"><button type="button" class="btn btn-secondary btn-lg padding-5">Atras</button></div>
    <div class="col-3"><button type="button" class="btn btn-dark btn-lg">Stop</button></div>
    <div class="col-3"><button type="button" class="btn btn-success btn-lg">Play</button></div>
    <div class="col-3"><button type="button" class="btn btn-secondary btn-lg">Pause</button></div>
</div>

<div class="row">

    <div class="col-6">Cancion</div>
    <div class="col-6">Artista</div>
</div>
