


<mat-card id="detail">
    <img mat-card-image *ngIf="cancion.title ==''" src="{{cancion.caratula}}" alt="Caratula del disco">
    <mat-card-content id="detail-content" *ngIf="cancion.title!=''">
      <div *ngFor="let cancion of cancion |async">
        <img mat-card-image src="{{cancion.caratula}}" alt="Caratula del disco">
        <p class="detail-p">Canción Nº: <span style="font-weight: 600;">   {{cancion.numCancion}}</span></p>
        <p class="detail-p">Título:     <span style="font-weight: 600;">   {{cancion.title}}     </span></p>
        <p class="detail-p">Artista:    <span style="font-weight: 600;">   {{cancion.artist}}    </span></p>
        <p class="detail-p">Disco:      <span style="font-weight: 600;">   {{cancion.disco}}     </span></p>
        <p class="detail-p">Año:        <span style="font-weight: 600;">   {{cancion.anio}}      </span></p>
        <p class="detail-p">Estilo:     <span style="font-weight: 600;">   {{cancion.estilo}}    </span></p>
      </div>
    </mat-card-content>
</mat-card>

