#detail{
  width: 50%;
  margin: 0 auto 17px auto;
  box-shadow: 5px 5px 25px #222;
}

#detail-content{
  font-size: 1.3em;
  text-align: center;
}

.detail-p{
  margin-bottom: 10px;
}

input{
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 5px auto;
  border: none;
  border-bottom: 1px solid black;
  font-style: italic;
}

label{
  margin-bottom: 33px;
}

button{
  margin-top: 10px;
}
