


<mat-card id="detail">
    <img mat-card-image *ngIf="cancion.title ==''" src="{{cancion.caratula}}" alt="Caratula del disco">
    <mat-card-content id="detail-content" *ngIf="cancion.title!=''">
      <div *ngFor="let cancion of cancion |async">
        <img mat-card-image src="{{cancion.caratula}}" alt="Caratula del disco">
        <form style="font-size: 1em;" (ngSubmit)="onSubmit($event)">
        <label for="">Canción Nº:</label>
        <input class="detail-p" value="{{cancion.numCancion}}" name="numCancion">
        <label for="">Título:</label>
        <input class="detail-p" value="{{cancion.title}}" name="title">
        <label for="">Artista:</label>
        <input class="detail-p" value="{{cancion.artis}}" name="artis">
        <label for="">Disco:</label>
        <input class="detail-p" value="{{cancion.disco}}" name="disco">
        <label for="">Año</label>
        <input class="detail-p" value="{{cancion.anio}}" name="anio">
        <label for="">Estilo</label>
        <input class="detail-p" value="{{cancion.estilo}}" name="estilo">
        <button mat-flat-button color="primary">Salvar Cambios</button>
      </form>
      </div>
    </mat-card-content>
</mat-card>

