

<app-caratula [cancion]='selectSong'></app-caratula>

<mat-form-field class="full-width">
  <mat-label style=" font-size: 2em; margin-left: 10%;;" apperance='fill'> Buscar por artista o título </mat-label>
  <input style="margin-top:15px;" class="move" matInput type="search" [(ngModel)]="search" placeholder="Buscar título o artista">
</mat-form-field>



<app-player [cancion]='selectSong'></app-player>


<div *ngFor="let f of (songs | filter:search)as folder">
  <section id="result" *ngIf="search!=''">
    <mat-selection-list style="text-align: center;" [multiple]="false">
      <h3 id="resultados">Resultados de búsqueda</h3>
      <mat-list-option id="listadoresultado"
      (click)="getSelectSong(f.numDisco, f.numCancion)">
          <span> Titulo: {{f.title}} </span>
          <span> Artista:{{f.artist}}</span>
      </mat-list-option>
    </mat-selection-list>
  </section>
</div>

<div *ngIf="(songs | filter:search).length <1">
  <h3>Resultados de búsqueda</h3>
  <h4>No hay coincidencias</h4>
</div>




<mat-selection-list style="text-align: center;" [multiple]="false">
  <h3 id="canciones" >Canciones</h3>

  <mat-list-option id="listado" *ngFor="let song of songs"
      (click)="getSelectSong(song.numDisco, song.numCancion)">
         <span id="title"> Canción:   {{song.title}}  </span>
         <span id="artist"> Artista:  {{song.artist}} </span>
  </mat-list-option>

</mat-selection-list>
