<app-caratula [cancion]='selectSong'></app-caratula>
<input type="search"  [(ngModel)]="search" placeholder="Buscar título">

<div *ngFor="let f of (songs | filter:search)as folder">
  <section id="result" *ngIf="search!=''">
    <div class="list-group">
      <h3>resultados de búsqueda</h3>
      <div
      (click)="getSelectSong(f.numDisco, f.numCancion)"
      class="list-group-item list-group-item-action list-group-item-success text-center">
          <div><span class="itemt">NumDisco:</span> <span class="item">{{f.numDisco}}</span> </div>
          <div><span class="itemt">Titulo:</span>  <span class="item">{{f.title}}</span> </div>
          <div><span class="itemt">Artista:</span> <span class="item">{{f.artist}}</span> </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="(songs | filter:search).length <1">
  <h3>resultados de búsqueda</h3>
  <h4>No hay coincidencias</h4>
</div>
<app-player [cancion]='selectSong'></app-player>



<div class="list-group">
  <div *ngFor="let song of songs"
      (click)="getSelectSong(song.numDisco, song.numCancion)"
      class="list-group-item list-group-item-action list-group-item-success text-center">
          <div><span class="itemt">NumDisco:</span> <span class="item">{{song.numDisco}}</span> </div>
          <div><span class="itemt">Titulo:</span>  <span class="item">{{song.title}}</span> </div>
          <div><span class="itemt">Artista:</span> <span class="item">{{song.artist}}</span> </div>
  </div>
</div>
